PROJECT_NAME="Wrench API"
VERSION="0.1.0"
API_V1_STR="/api/v1"

# Database
# Use this when running locally but pointing to docker DB:
# DATABASE_URL="postgresql+asyncpg://postgres:postgrespassword@localhost:5432/wrench"
# The docker-compose passes:
DATABASE_URL="postgresql+asyncpg://postgres:postgrespassword@db:5432/wrench"

# Security
SECRET_KEY="09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
